/*
 *
 * MMM-Chess-Daily
 *
 * Nout Kleef
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.divTable {
    /* display: table; */
    width: 100%;
}

/* .divTableBody {
    display: table-row-group;
}

.divTableRow {
    display: table-row;
} */

.divTableCell {
    /* display: table-cell; */
    padding-left: 2px;
    padding-right: 2px;;
}

.chessBoard {
    width: 100%;
}

.chessBoard>tr>td {
    background-color: #ddd;
    width: 12.5%;
    position: relative;
    border: none;
}

.chessBoard>tr>td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.chessBoard>tr>td>img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.chessBoard>tr>td:nth-child(odd) {
    background-color: #333;
}

.chessBoard>tr:nth-child(odd)>td {
    background-color: #333;
}

.chessBoard>tr:nth-child(odd)>td:nth-child(odd) {
    background-color: #ddd;
}
